In [29]:
import pandas as pd

df = pd.read_excel('/content/연남동 교차로 데이터.xlsx',sheet_name='Sheet2')

df

                       1
0  서울특별시 마포구 연남동 487-365
1      서울특별시 마포구 연남동 573
2    서울특별시 마포구 연남동 118-1
3    서울특별시 마포구 연남동 448-4
4   서울특별시 마포구 연남동 413-21
5   서울특별시 마포구 연남동 369-21
6   서울특별시 마포구 연남동 365-19
7  서울특별시 마포구 연남동 446-282
8    서울특별시 마포구 연남동 109-7
9  서울특별시 마포구 연남동 487-365

In [30]:
gyolist=df[1].tolist()

In [31]:
 # 주소 -> 위도 경도 변환
import requests
from urllib import parse

def YLogin(addr):
    headers = {
        "Content-Type":"application/x-www-form-urlencoded"
    }
    yData = "refine_ty=8&protocol_=" + parse.quote(addr)

    yUrl = "https://address.dawul.co.kr/input_pro.php"
    session = requests.Session()

    try:
        resp = session.post(url = yUrl, headers = headers, data = yData)
        data = resp.text.split("|")
        return data[-2] + " " + data[-1]
    except requests.exceptions.Timeout:
        return "Timeout"
    except requests.exceptions.HTTPError:
        return "Http error"
    except requests.exceptions.ConnectionError:
        return "Connection error"

if __name__ == "__main__":
    latlist=[]
    for i in gyolist:
      latlist.append(YLogin(i))

In [26]:
latlist

['126.927401 37.5216920;국제금융로6길 30-2 구두수선대33',
 '126.915210 37.5283601;의사당대로 1 국회',
 '126.924451 37.5299703',
 '126.919655 37.5292192',
 '126.918030 37.5262268',
 '126.918675 37.5260110',
 '126.916258 37.5219458',
 '126.922260 37.5267883;여의공원로 120 여의도지구대',
 '126.928492 37.5279366;여의대로 76 SEMA 벙커',
 '126.925091 37.5243485',
 '126.924163 37.5248254',
 '126.923429 37.5233473',
 '126.923429 37.5233473',
 '126.921834 37.5226615',
 '126.924452 37.5180141',
 '126.924618 37.5216722;여의나루로 51-2 가로판매대37;여의나루로 62-2 가로판매대42;여의나루로 68-2 가로판매대41;여의나루로 71-2 가로판매대35;여의나루로 71-3 가로판매대34;여의나루로 104-2 가로판매대39;여의나루로 40 여의도역',
 '126.933077 37.5242453',
 '126.927401 37.5216920;국제금융로6길 30-2 구두수선대33',
 '126.923974 37.5209961;의사당대로 110 미성아파트',
 '126.924385 37.5179329',
 '126.932456 37.5230015;국제금융로7길 19-2 구두수선대30',
 '126.932402 37.5203075',
 '126.921929 37.5186972',
 '126.930990 37.5185407;여의대방로 385-2 가로판매대52;여의대방로 390-2 가로판매대60;여의대방로 390-3 구두수선대41;여의대방로 414-2 가로판매대58;여의대방로 414-3 구두수선대40',
 '126.937311 37.5213374',
 '126.934112 37.5188309',
 '126.936714 37.5182557',
 '126.934181 37.5171550',
 '126.938841 37.5180406',
 '126.924167 37.5311594',
 '126.914510 37.5366398',
 '126.914510 37.5366398',
 '126.913889 37.5266563',
 '126.917331 37.5337857',
 '126.921981 37.5341943',
 '126.938973 37.5221852',
 '126.924773 37.5358360',
 '126.923205 37.5318435',
 '126.939664 37.5214288',
 '126.930798 37.5298932',
 '126.929279 37.5329106',
 '126.932849 37.5270652',
 '126.931570 37.5395163',
 '126.935791 37.5255893',
 '126.939005 37.5249423;여의동로 290 노들나루;여의동로 338 한강아라호 임시선착장',
 '126.938393 37.5257979',
 '126.934556 37.5278861',
 '126.939005 37.5249423',
 '126.939108 37.5228070']

In [32]:
gyodong = pd.DataFrame(latlist)
gyodong.to_excel('교차로 위경도.xlsx')